{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="grid-child-image">
        {% if app.user is defined and app.user is not null %}
        <h1>Welcome back {{ app.user.username }}</h1>
        {% else %}
        <h1>Welcome to Teach Me!</h1>
        {% endif %}
        <img  src="{{ asset('images/tresBien.png') }}" alt="teacher and student"/>
    </div>
    <div class="grid-child-form">
        {% if app.user is defined and app.user is not null %}
            <h2>Choose a subject to start learning</h2>
            <a class="btn" href="{{ path('app_subject_index') }}">
                View subjects
            </a>
            {%  else %}
        <h2>New here? Sign up!</h2>
        <a class="btn" href="{{ path('app_register') }}">
            Sign up!
        </a>
        {% endif %}

{% endblock %}
