{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block body %}

{% for quiz in quizzes %}
  <h1> {{ quiz.name }} </h1>
    <img  src="{{ asset('images/prof_me.png') }}" alt="prof"/>
    <div class="instruction">
        <h4>lisez le texte et répondez aux questions  </h4>
    </div>
    <a class="btn" href="{{ path('app_subject_quiz', { 'id': subject.id,'quiz_id': quiz.id}) }}">take the quiz !</a>


{%  endfor %}
{% endblock %}